.App {
  display: flex;
  flex-direction: row;

  width: 1200px;

  margin: 15px auto;

  padding: 10px;

  background: #fff;
  box-shadow: 0px 0px 30px #ddd;
}

.App-Sidebar {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.App-Content {
  width: 800px;

  text-align: center;
}
